<div class="container-fluid light-blue-container p-5">
  <div class="row">
    <div class="col-md-8 offset-md-2">

      <div class="mb-2 translatable-text">
        <%= flash[:alert].html_safe if flash[:alert] %>
      </div>

      <%= form_with model: @contact, url: confirm_contacts_path, local: true do |f| %>
        <div class="form-group">
          <%= f.label :name, 'お名前', class: "translatable-text" %><span class="text-danger">*</span>
          <%= f.text_field :name, autofocus: true, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :email, 'メールアドレス', class: "translatable-text" %><span class="text-danger">*</span>
          <%= f.email_field :email, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :subject, '件名', class: "translatable-text" %><span class="text-danger">*</span>
          <%= f.text_area :subject, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :message, 'メッセージ', class: "translatable-text" %><span class="text-danger">*</span>
          <%= f.text_area :message, size: '10x10', class: 'form-control' %>
        </div>

        <div>

          <%= button_tag(type: 'submit', class: "btn btn-info translatable-text") do %>
            入力内容確認
          <% end %>

        </div>
      <% end %>

    </div>
  </div>
</div>
