<div class="container">
  <div class="row">

    <div class="col-md-8 mt-5 mb-5">
      <h6>都道府県別の日本語学校</h6>
      <div>
        <%= link_to "北海道", prefecture_search_path(prefecture: "北海道"), class: "text-dark mr-1"  %>
        <%= link_to "青森県", prefecture_search_path(prefecture: "青森県"), class: "text-dark mr-1"  %>
        <%= link_to "秋田県", prefecture_search_path(prefecture: "秋田県"), class: "text-dark mr-1"  %>
        <%= link_to "岩手県", prefecture_search_path(prefecture: "岩手県"), class: "text-dark mr-1"  %>
        <%= link_to "山形県", prefecture_search_path(prefecture: "山形県"), class: "text-dark mr-1"  %>
        <%= link_to "宮城県", prefecture_search_path(prefecture: "宮城県"), class: "text-dark mr-1"  %>
        <%= link_to "福島県", prefecture_search_path(prefecture: "福島県"), class: "text-dark mr-1"  %>
      </div>

      <div>
        <%= link_to "新潟県", prefecture_search_path(prefecture: "新潟県"), class: "text-dark mr-1"  %>
        <%= link_to "長野県", prefecture_search_path(prefecture: "長野県"), class: "text-dark mr-1"  %>
        <%= link_to "富山県", prefecture_search_path(prefecture: "富山県"), class: "text-dark mr-1"  %>
        <%= link_to "石川県", prefecture_search_path(prefecture: "石川県"), class: "text-dark mr-1"  %>
        <%= link_to "福井県", prefecture_search_path(prefecture: "福井県"), class: "text-dark mr-1"  %>
        <%= link_to "山梨県", prefecture_search_path(prefecture: "山梨県"), class: "text-dark mr-1"  %>
      </div>

      <div>
        <%= link_to "東京都", prefecture_search_path(prefecture: "東京都"), class: "text-dark mr-1"  %>
        <%= link_to "神奈川県", prefecture_search_path(prefecture: "神奈川県"), class: "text-dark mr-1"  %>
        <%= link_to "埼玉県", prefecture_search_path(prefecture: "埼玉県"), class: "text-dark mr-1"  %>
        <%= link_to "千葉県", prefecture_search_path(prefecture: "千葉県"), class: "text-dark mr-1"  %>
        <%= link_to "茨城県", prefecture_search_path(prefecture: "茨城県"), class: "text-dark mr-1"  %>
        <%= link_to "群馬県", prefecture_search_path(prefecture: "群馬県"), class: "text-dark mr-1"  %>
        <%= link_to "栃木県", prefecture_search_path(prefecture: "栃木県"), class: "text-dark mr-1"  %>
      </div>

      <div>
        <%= link_to "愛知県", prefecture_search_path(prefecture: "愛知県"), class: "text-dark mr-1"  %>
        <%= link_to "岐阜県", prefecture_search_path(prefecture: "岐阜県"), class: "text-dark mr-1"  %>
        <%= link_to "静岡県", prefecture_search_path(prefecture: "静岡県"), class: "text-dark mr-1"  %>
        <%= link_to "三重県", prefecture_search_path(prefecture: "三重県"), class: "text-dark mr-1"  %>
      </div>

      <div>
        <%= link_to "大阪府", prefecture_search_path(prefecture: "大阪府"), class: "text-dark mr-1"  %>
        <%= link_to "兵庫県", prefecture_search_path(prefecture: "兵庫県"), class: "text-dark mr-1"  %>
        <%= link_to "京都府", prefecture_search_path(prefecture: "京都府"), class: "text-dark mr-1"  %>
        <%= link_to "滋賀県", prefecture_search_path(prefecture: "滋賀県"), class: "text-dark mr-1"  %>
        <%= link_to "奈良県", prefecture_search_path(prefecture: "奈良県"), class: "text-dark mr-1"  %>
        <%= link_to "和歌山県", prefecture_search_path(prefecture: "和歌山県"), class: "text-dark mr-1"  %>
      </div>

      <div>
        <%= link_to "鳥取県", prefecture_search_path(prefecture: "鳥取県"), class: "text-dark mr-1"  %>
        <%= link_to "島根県", prefecture_search_path(prefecture: "島根県"), class: "text-dark mr-1"  %>
        <%= link_to "岡山県", prefecture_search_path(prefecture: "岡山県"), class: "text-dark mr-1"  %>
        <%= link_to "広島県", prefecture_search_path(prefecture: "広島県"), class: "text-dark mr-1"  %>
        <%= link_to "山口県", prefecture_search_path(prefecture: "山口県"), class: "text-dark mr-1"  %>
        <%= link_to "徳島県", prefecture_search_path(prefecture: "徳島県"), class: "text-dark mr-1"  %>
        <%= link_to "香川県", prefecture_search_path(prefecture: "香川県"), class: "text-dark mr-1"  %>
        <%= link_to "愛媛県", prefecture_search_path(prefecture: "愛媛県"), class: "text-dark mr-1"  %>
        <%= link_to "高知県", prefecture_search_path(prefecture: "高知県"), class: "text-dark mr-1"  %>
      </div>

      <div>
        <%= link_to "福岡県", prefecture_search_path(prefecture: "福岡県"), class: "text-dark mr-1"  %>
        <%= link_to "佐賀県", prefecture_search_path(prefecture: "佐賀県"), class: "text-dark mr-1"  %>
        <%= link_to "長崎県", prefecture_search_path(prefecture: "長崎県"), class: "text-dark mr-1"  %>
        <%= link_to "熊本県", prefecture_search_path(prefecture: "熊本県"), class: "text-dark mr-1"  %>
        <%= link_to "大分県", prefecture_search_path(prefecture: "大分県"), class: "text-dark mr-1"  %>
        <%= link_to "宮崎県", prefecture_search_path(prefecture: "宮崎県"), class: "text-dark mr-1"  %>
        <%= link_to "鹿児島県", prefecture_search_path(prefecture: "鹿児島県"), class: "text-dark mr-1"  %>
        <%= link_to "沖縄県", prefecture_search_path(prefecture: "沖縄県"), class: "text-dark mr-1"  %>
      </div>
    </div>

    <div class="col-md-4 mt-5 mb-5">
      <%= link_to "お問い合わせ", new_contact_path %>
      <p>
        000-0000-0000<br>
        minna-no-nihongo-gakko@example.com
      </p>
    </div>

  </div>
</div>