<header>
  <div class="container p-3">
    <div class="row">
      <div class="col-md-12">

        <div class="d-flex justify-content-between align-items-center">
          <%= link_to "みんなの日本語学校", root_path, class: "navbar-brand text-dark" %>

          <div>
            <nav>
              <ul class="navbar-nav list-group-horizontal">
                <%# if admin_signed_in? %>
                  <li><%#= link_to "通報一覧", admin_alerts_path, class: "btn btn-outline-secondary mr-3" %></li>
                  <li><%#= link_to "レビュー一覧", admin_reviews_path, class: "btn btn-outline-secondary mr-3" %></li>
                  <li><%#= link_to "会員一覧", admin_users_path, class: "btn btn-outline-secondary mr-3" %></li>
                  <li><%#= link_to "コース一覧", admin_courses_path, class: "btn btn-outline-secondary mr-3" %></li>
                  <li><%#= link_to "学校一覧", admin_schools_path, class: "btn btn-outline-secondary mr-3" %></li>
                  <li><%#= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "btn btn-outline-secondary mr-3" %></li>
                <% if user_signed_in? %>
                  <li><%= link_to "マイページ", user_path(current_user.id), class: "btn btn-outline-secondary mr-3" %></li>
                  <li><%= link_to "お気に入り一覧", favorited_users_path, class: "btn btn-outline-secondary mr-3" %></li>
                  <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn btn-outline-secondary mr-3" %></li>
                <% else %>
                <li><%= link_to "ゲストログイン", users_guest_sign_in_path, method: :post, class: "btn btn-outline-secondary mr-3" %></li>
                <li><%= link_to "ログイン", new_user_session_path, class: "btn btn-outline-secondary mr-3" %></li>
                <li><%= link_to "新規登録", new_user_registration_path, class: "btn btn-outline-secondary mr-3" %></li>
                <% end %>
              </ul>
            </nav>

              <%= form_with url: search_path, method: :get, local: true, class: "float-right form-inline mt-3" do |f| %>
                <%= f.text_field :word, placeholder: "Search", class: "form-control w-75 mr-2" %>
                <%= f.submit "検索", class: "btn btn-outline-secondary" %>
              <% end %>
          </div>

        </div>

      </div>
    </div>
  </div>
</header>