<header>
  <div class="container p-3-">
    <div class="row">
      <div class="col-md-12">

        <div class="d-flex justify-content-between align-items-center">
          <%= link_to root_path do %>
            <%= image_tag 'logo.png', class: "navbar-brand text-dark", size: "250x60", 'data-turbolinks': false %>
          <% end %>

          <div>
            <nav>
              <ul class="navbar-nav list-group-horizontal">
                <% if user_signed_in? %>
                    <% if unchecked_notifications.any? %>
                       <li>
                         <div class="alert-wrapper">
                           <%= link_to notifications_path, class: "btn btn-outline-secondary mr-3 translatable-text" do %>
                             <i class="fa-solid fa-bell"></i> 通知
                           <% end %>
                           <i class="fa-solid fa-circle fa-sm text-danger alert-mark"></i>
                         </div>
                    <% else %>
                       <li>
                         <%= link_to notifications_path, class: "btn btn-outline-secondary mr-3 translatable-text" do %>
                           <i class="fa-solid fa-bell"></i> 通知
                         <% end %>
                    <% end %>
                  </li>
                  <li>
                    <%= link_to user_path(current_user.id), class: "btn btn-success mr-3 translatable-text" do %>
                      <i class="fa-solid fa-user" style="color: #ffffff;"></i> マイページ
                    <% end %>
                    </li>
                  <li>
                    <%= link_to favorited_users_path, class: "btn btn-outline-secondary mr-3 translatable-text" do %>
                      <i class="fa-solid fa-heart text-danger"></i> お気に入り
                    <% end %>
                    </li>
                  <li>
                    <%= link_to destroy_user_session_path, method: :delete, class: "btn btn-outline-secondary mr-3 translatable-text" do %>
                      <i class="fa-solid fa-right-from-bracket"></i> ログアウト
                    <% end %>
                  </li>
                <% else %>
                <li><%= link_to "ゲストログイン", users_guest_sign_in_path, method: :post, class: "btn btn-outline-secondary mr-3 translatable-text" %></li>
                <li><%= link_to "ログイン", new_user_session_path, class: "btn btn-outline-secondary mr-3 translatable-text" %></li>
                <li><%= link_to "会員登録", new_user_registration_path, class: "btn mr-3 text-white registration-btn translatable-text" %></li>
                <% end %>
              </ul>
            </nav>

              <%= form_with url: search_path, method: :get, local: true, class: "float-right form-inline mt-3" do |f| %>
                <%= f.text_field :word, placeholder: "Search", class: "form-control w-75 mr-2" %>

                <%= button_tag type: "submit", class: "btn" do %>
                  <i class="fa-solid fa-magnifying-glass"></i>
                <% end %>

              <% end %>
          </div>

        </div>

      </div>
    </div>

    <!-- 翻訳言語選択のドロップダウン -->
    <select id="language-select" class="mr-2 select-box  d-inline form-control">
      <option value="ja">日本語</option>
      <option value="en">English</option>
      <!-- 他の言語オプションも追加 -->
    </select>

    <button id="translate-page-btn" class="btn btn-outline-secondary">Translate</button>
    <%= javascript_pack_tag 'translation' %>

  </div>
</header>