<div class="continaer login-page-container p-5">
  <div class="row mx-auto">

    <div class="col-md-8 offset-md-2">
    <h5>管理者ログイン</h5>
      <div class="bg-white p-5 mt-4">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%#= form_with model: @user, url: new_user_session_path, method: :post do |f|  %>

        <% unless flash[:alert].blank? %>
          <div class="text-center">
            <p><%= flash[:alert] %></p>
          </div>
        <% end %>


        <div class="row">
          <div class="col-md-5 text-right">
            <%= f.label :メールアドレス %>
          </div>
          <div class="field col-md-7">
            <%= f.email_field :email, autofocus: true, palceholder: "sample@example.com", class: "w-50" %>
          </div>
        </div>

        <div class="row mt-2">
          <div class="col-md-5 text-right">
            <%= f.label :パスワード %>
          </div>
          <div class="field col-md-7">
            <%= f.password_field :password, class: "w-50" %>
          </div>
        </div>

        <div class="actions text-center mt-3">
          <%= f.submit "ログイン", class: "btn login-button" %>
        </div>
      <% end %>
      </div>

    </div>
  </div>
</div>