<% review.comments.each do |comment| %>
  <div class="d-flex bg-white mt-4 p-4">
    <div class="mr-2">
      <% if comment.user.is_deleted == true %>
        <%= image_tag 'UserDeleted.jpg', size: "70x70", class: "rounded-circle mr-3" %>
      <% else %>
        <%= link_to user_path(comment.user.id) do %>
          <%= image_tag comment.user.get_profile_image(70,70), class: "rounded-circle mr-3" %>
        <% end %>
      <% end %>
    </div>
    <div>
      <% if comment.user.is_deleted == true %>
        <span class="translatable-text">退会済みユーザー</span>
      <% else %>
        <%= comment.user.name %>
      <% end %>
      <span class="text-secondary"><%= comment.created_at.strftime('%Y/%m/%d') %></span>
      <div class="translatable-text"><%= comment.comment %></div>
      <% if user_signed_in? && comment.user_id == current_user.id %>
        <%= link_to "削除", comment_path(comment.id), method: :delete, data: { confirm: "コメントを削除してもよろしいですか？" }, class: "text-secondary translatable-text", remote: true, data: {"turbolinks" => false} %>
      <% end %>
    </div>
  </div>
<% end %>