<div class="container">
  <div class="row">

    <h3>「<%= @word %>」の検索結果(<%= @schools.count %>件)</h3>

    <table class="table">
      <tr>
        <td>日本語学校名</td>
        <td>日本語学校名（かな）</td>
        <td>日本語学校名（英語）</td>
        <td>日本語学校情報</td>
        <td>住所</td>
      </tr>
      <% @schools.each do |school| %>
      <tr>
        <td><%= link_to school.name, school_path(school.id) %></td>
        <td><%= school.name_kana %></td>
        <td><%= school.name_en %></td>
        <td><%= school.summary %></td>
        <td><%= school.address %></td>
      </tr>
      <% end %>
    </table>

  </div>
</div>