<div class="top-blue-title p-2">
  <h5 class="text-white text-center translatable-text">都道府県から日本語学校を探す</h5>
</div>

<div class="container">
  <div class="text-center mt-2">
    <p><%= flash[:notice] %></p>
  </div>

  <div class="row mt-5">
    <div class="col-md-6 my-auto">
      <%= image_tag 'japan-map.png', class: "jp-image" %>
    </div>

    <div class="col-md-6 mb-4">
      <div>
        <span class="translatable-text">【北海道・東北】</span><br>
        <%= link_to "北海道", prefecture_search_path(prefecture: "Hokkaido"), class: "text-dark mr-1 translatable-text"  %>
        <%= link_to "青森県", prefecture_search_path(prefecture: "Aomori"), class: "text-dark mr-1 translatable-text"  %>
        <%= link_to "秋田県", prefecture_search_path(prefecture: "Akita"), class: "text-dark mr-1 translatable-text"  %>
        <%= link_to "岩手県", prefecture_search_path(prefecture: "Iwate"), class: "text-dark mr-1 translatable-text"  %>
        <%= link_to "山形県", prefecture_search_path(prefecture: "Yamagata"), class: "text-dark mr-1 translatable-text"  %>
        <%= link_to "宮城県", prefecture_search_path(prefecture: "Miyagi"), class: "text-dark mr-1 translatable-text"  %>
        <%= link_to "福島県", prefecture_search_path(prefecture: "Fukushima"), class: "text-dark mr-1 translatable-text"  %>
      </div>

      <div class="mt-2">
        <span class="translatable-text">【甲信越・北陸】</span><br>
        <%= link_to "新潟県", prefecture_search_path(prefecture: "Niigata"), class: "text-dark mr-1 translatable-text"  %>
        <%= link_to "長野県", prefecture_search_path(prefecture: "Nagano"), class: "text-dark mr-1 translatable-text"  %>
        <%= link_to "富山県", prefecture_search_path(prefecture: "Toyama"), class: "text-dark mr-1 translatable-text"  %>
        <%= link_to "石川県", prefecture_search_path(prefecture: "Ishikawa"), class: "text-dark mr-1 translatable-text"  %>
        <%= link_to "福井県", prefecture_search_path(prefecture: "Fukui"), class: "text-dark mr-1 translatable-text"  %>
        <%= link_to "山梨県", prefecture_search_path(prefecture: "Yamanashi"), class: "text-dark mr-1 translatable-text"  %>
      </div>

      <div class="mt-2">
        <span class="translatable-text">【関東】</span><br>
        <%= link_to "東京都", prefecture_search_path(prefecture: "Tokyo"), class: "text-dark mr-1 translatable-text"  %>
        <%= link_to "神奈川県", prefecture_search_path(prefecture: "Kanagawa"), class: "text-dark mr-1 translatable-text"  %>
        <%= link_to "埼玉県", prefecture_search_path(prefecture: "Saitama"), class: "text-dark mr-1 translatable-text"  %>
        <%= link_to "千葉県", prefecture_search_path(prefecture: "Chiba"), class: "text-dark mr-1 translatable-text"  %>
        <%= link_to "茨城県", prefecture_search_path(prefecture: "Ibaraki"), class: "text-dark mr-1 translatable-text"  %>
        <%= link_to "群馬県", prefecture_search_path(prefecture: "Gunma"), class: "text-dark mr-1 translatable-text"  %>
        <%= link_to "栃木県", prefecture_search_path(prefecture: "Tochigi"), class: "text-dark mr-1 translatable-text"  %>
      </div>

      <div class="mt-2">
        <span class="translatable-text">【東海】</span><br>
        <%= link_to "愛知県", prefecture_search_path(prefecture: "Aichi"), class: "text-dark mr-1 translatable-text"  %>
        <%= link_to "岐阜県", prefecture_search_path(prefecture: "Gifu"), class: "text-dark mr-1 translatable-text"  %>
        <%= link_to "静岡県", prefecture_search_path(prefecture: "Shizuoka"), class: "text-dark mr-1 translatable-text"  %>
        <%= link_to "三重県", prefecture_search_path(prefecture: "Mie"), class: "text-dark mr-1 translatable-text"  %>
      </div>

      <div class="mt-2">
        <span class="translatable-text">【関西】</span><br>
        <%= link_to "大阪府", prefecture_search_path(prefecture: "Osaka"), class: "text-dark mr-1 translatable-text"  %>
        <%= link_to "兵庫県", prefecture_search_path(prefecture: "Hyogo"), class: "text-dark mr-1 translatable-text"  %>
        <%= link_to "京都府", prefecture_search_path(prefecture: "Kyoto"), class: "text-dark mr-1 translatable-text"  %>
        <%= link_to "滋賀県", prefecture_search_path(prefecture: "Shiga"), class: "text-dark mr-1 translatable-text"  %>
        <%= link_to "奈良県", prefecture_search_path(prefecture: "Nara"), class: "text-dark mr-1 translatable-text"  %>
        <%= link_to "和歌山県", prefecture_search_path(prefecture: "Wakayama"), class: "text-dark mr-1 translatable-text"  %>
      </div>

      <div class="mt-2">
        <span class="translatable-text">【中国・四国】</span><br>
        <%= link_to "鳥取県", prefecture_search_path(prefecture: "Tootori"), class: "text-dark mr-1 translatable-text"  %>
        <%= link_to "島根県", prefecture_search_path(prefecture: "Shimane"), class: "text-dark mr-1 translatable-text"  %>
        <%= link_to "岡山県", prefecture_search_path(prefecture: "Okayama"), class: "text-dark mr-1 translatable-text"  %>
        <%= link_to "広島県", prefecture_search_path(prefecture: "Hiroshima"), class: "text-dark mr-1 translatable-text"  %>
        <%= link_to "山口県", prefecture_search_path(prefecture: "Yamaguchi"), class: "text-dark mr-1 translatable-text"  %>
        <%= link_to "徳島県", prefecture_search_path(prefecture: "Tokushima"), class: "text-dark mr-1 translatable-text"  %>
        <%= link_to "香川県", prefecture_search_path(prefecture: "Kagawa"), class: "text-dark mr-1 translatable-text"  %>
        <%= link_to "愛媛県", prefecture_search_path(prefecture: "Ehime"), class: "text-dark mr-1 translatable-text"  %>
        <%= link_to "高知県", prefecture_search_path(prefecture: "Kochi"), class: "text-dark mr-1 translatable-text"  %>
      </div>

      <div class="mt-2">
        <span class="translatable-text">【九州・沖縄】</span><br>
        <%= link_to "福岡県", prefecture_search_path(prefecture: "Fukuoka"), class: "text-dark mr-1 translatable-text"  %>
        <%= link_to "佐賀県", prefecture_search_path(prefecture: "Saga"), class: "text-dark mr-1 translatable-text"  %>
        <%= link_to "長崎県", prefecture_search_path(prefecture: "Nagasaki"), class: "text-dark mr-1 translatable-text"  %>
        <%= link_to "熊本県", prefecture_search_path(prefecture: "Kumamoto"), class: "text-dark mr-1 translatable-text"  %>
        <%= link_to "大分県", prefecture_search_path(prefecture: "Oita"), class: "text-dark mr-1 translatable-text"  %>
        <%= link_to "宮崎県", prefecture_search_path(prefecture: "Miyazaki"), class: "text-dark mr-1 translatable-text"  %>
        <%= link_to "鹿児島県", prefecture_search_path(prefecture: "Kagoshima"), class: "text-dark mr-1 translatable-text"  %>
        <%= link_to "沖縄県", prefecture_search_path(prefecture: "Okinawa"), class: "text-dark mr-1 translatable-text"  %>
      </div>

    </div>
  </div>
</div>

<div class="container-fluid blue-container p-5 mt-5">
  <h5 class="text-white text-center translatable-text">詳しい条件から日本語学校を探す</h5>

  <div class="row">
    <div class="col-md-10 offset-md-1 bg-white p-5 mt-5">
      <div class="row">

        <div class="col-md-5 offset-md-1">
          <%= form_with url: detail_search_path, local: true, method: :get do |f| %>

          <div class="field">
            <%= f.label :都道府県　, class: "mr-2 translatable-text" %>
            <%= f.select :prefecture, School.prefectures.keys.map { |key| [I18n.t("enums.school.prefecture.#{key}"), key] }, { include_blank: '選択してください'}, class: "select-box form-control w-50 d-inline" %>
          </div>

          <div class="field">
            <%= f.label :学生の国籍, class: "mr-2 mt-3 translatable-text" %>
            <%= f.text_field :nationality, placeholder: "インドネシア", class: "form-control w-50 d-inline" %> <span class="translatable-text">を含む</span>
          </div>
        </div>

        <div class="col-md-6">
          <div class="field">
            <%= f.label :学費, class: "mr-2 translatable-text" %>
            <%= f.text_field :anual_fee_greater_than_or_equal, placeholder: "下限なし", class: "form-control w-25 d-inline" %>
            〜
            <%= f.text_field :anual_fee_less_than, placeholder: "上限なし", class: "form-control w-25 d-inline" %>
          </div>

          <div class="field">
            <%= f.label :単語, class: "mr-2 mt-3 translatable-text" %>
            <%= f.text_field :word, class: "form-control w-50 d-inline" %>
          </div>
        </div>
      </div>

      <div class="row mt-4">
        <div class="col-md-12 text-center">
        <div class="actions">
          <%= button_tag(type: 'submit', class: "btn btn-secondary w-25 translatable-text") do %>
            検索 <i class="fa-solid fa-magnifying-glass fa-flip-horizontal text-white"></i>
          <% end %>
        </div>
        <% end %>
        </div>
      </div>

    </div>
  </div>
</div>

</div>

<div class="container-fluid p-5">
<h5 class="text-center translatable-text">口コミランキング</h5>

    <div class="row mt-5 mb-5">
      <div class="col-md-10 offset-md-1">
        <div class="row">

        <% @top_review_schools.each_with_index do |top_review_school, index| %>
          <div class="col-lg-3 text-center">
            <% if index == 0 %>
              <p><%= image_tag '1stPrize.jpg', size: "70x70", class: "mb-3" %></p>
            <% elsif index == 1 %>
              <p><%= image_tag '2ndPrize.jpg', size: "70x70", class: "mb-3" %></p>
            <% elsif index == 2 %>
              <p><%= image_tag '3rdPrize.jpg', size: "70x70", class: "mb-3" %></p>
            <% elsif index == 3 %>
              <div class="prize-image-blank mb-3"></div>
            <% end %>

            <%= link_to school_path(top_review_school.id), 'data-turbolinks': false do %>
              <%= image_tag top_review_school.get_image(200,150) %>
            <% end %>

            <p>
              <%= link_to top_review_school.name, school_path(top_review_school.id), 'data-turbolinks': false %><br>
              <span class="text-secondary"><%= top_review_school.name_en.truncate(20) %></span>
            </p>

            <% if top_review_school.reviews.present? %>
              <%= render "public/reviews/average_rate.html.erb", school: top_review_school %>
            <% else %>
              <p class="translatable-text">口コミはまだありません</p>
            <% end %>
          </div>
        <% end %>

        </div>
      </div>
    </div>
  </div>

<div class="top-blue-title p-2">
  <h5 class="text-white text-center translatable-text">最新の口コミ</h5>
</div>


<div class="container-fluid light-blue-container p-5">
  <div class="row">
      <%= render "public/reviews/short_review.html.erb", reviews: @reviews %>
  </div>
</div>

<div class="top-blue-title p-2">
  <h5 class="text-white text-center translatable-text">みんなの日本語学校とは？</h5>
</div>

<div class="container p-5">
  <div class="row">
    <div class="col-md-12 text-center">
      <p class="translatable-text">みんなの日本語学校は、日本語学校選びに役立つサイトです。全国の日本語学校情報を詳しく掲載しています。
      <br>また、卒業生や在校生がリアルな口コミ情報を投稿してくれています。ぜひ日本語学校選びにお役立てください。</p>
    </div>
  </div>
</div>

