<div class="container">
  <div class="row">

    <div class="col-md-12 mt-5">
      <h5>レビュー一覧</h5>
    </div>

    <div class="col-md-12">
      <table class="table mt-5">
        <tr>
          <td>No.</td>
          <td>日本語学校名</td>
          <td>投稿者</td>
          <td>星評価</td>
          <td>コメント件数</td>
          <td>通報件数</td>
          <td>公開状況</td>
          <td>作成日</td>
          <td></td>
        </tr>
        <% @reviews.each do |review| %>
        <tr>
          <td><%= link_to review.id, admin_review_path(review.id) %></td>
          <td><%= review.school.name %></td>
          <td><%= review.user.name %></td>
          <td><%= render "public/reviews/static_rate", review: review %></td>
          <td><%= review.comments.count %></td>
          <td><%= review.alerts.count %></td>
          <td>
            <% if review.is_open == true %>
                公開
            <% else %>
                非公開
            <% end %>
          </td>
          <td><%= review.created_at.strftime('%Y/%m/%d') %></td>
          <td><%= link_to "編集", edit_admin_review_path(review.id), class: "btn btn-success" %></td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>

<%= paginate @reviews, theme: 'bootstrap-5' %>

</div>