<div class="continer light-blue-container p-5">
  <div class="row">

    <div class="col-md-11 offset-md-1">
     <%= render "public/shared/error_messages", resource: WentSchool.new %>
     <h5 class="translatable-text">出身校登録</h5>
     <%= flash[:alert] %>
    </div>

    <div class="col-md-7 offset-md-1 bg-white p-4 mt-4">
      <!--<div class="row">-->
        <%= form_with model: WentSchool.new, url: went_schools_path, method: :post do |f| %>

        <div class="row mt-5">
          <div class="col-md-5 text-right">
            <%= f.label :日本語学校, class: "translatable-text" %>
          </div>
          <div class="field col-md-5 offset-md-1">
            <%= f.collection_select :school_id, School.all, :id, :name, {}, { class: "form-control" } %>
          </div>
        </div>

        <div class="row mt-2">
          <div class="col-md-5 text-right">
            <%= f.label :卒業年, class: "translatable-text" %>
          </div>
          <div class="field col-md-5 offset-md-1">
            <%= f.text_field :graduate_year, class: "w-50 form-control", placeholder: "2023" %>
          </div>
        </div>

        <div class="row mt-2">
          <div class="col-md-5 text-right">
            <%= f.label :卒業月, class: "translatable-text" %>
          </div>
          <div class="field col-md-5 offset-md-1">
            <%= f.select :graduate_month,  1..12, {}, { class: "form-control w-50" } %>
          </div>
        </div>

        <div class="row mt-4">
          <div class="col-md-5 text-right">
            <%= f.submit "登録", class: "btn btn-success" %>
            <% end %>
          </div>
          <div class="col-md-5 offset-md-1">
            <%#= link_to "削除", went_school_path(current_user.went_school.id), method: :delete, data: { confirm: "出身校情報を削除してもよろしいですか？" }, class: "btn btn-danger" %>
          </div>
        </div>
      <!--</div>-->
    </div>

    <div class="col-md-3 offset-md-1 bg-white p-4 mt-4">
      <%= render "public/users/sidebar.html.erb", user: current_user %>
    </div>


  </div>
</div>