<div class="container-fluid blue-container p-5">
  <p class="text-white text-center"><%= flash[:notice] %></p>
  <h5 class="text-white text-center">詳しい条件から日本語学校を探す</h5>



  <div class="row">
    <div class="col-md-10 offset-md-1 bg-white p-5 mt-5">
      <div class="row">

        <div class="col-md-5 offset-md-1">
          <%= form_with url: admin_detail_search_path, local: true, method: :get do |f| %>

          <div class="field">
            <%= f.label :都道府県　, class: "mr-2" %>
            <%= f.select :prefecture, School.prefectures.keys.map { |key| [I18n.t("enums.school.prefecture.#{key}"), key] }, { include_blank: '選択してください'} %>
          </div>

          <div class="field">
            <%= f.label :学生の国籍, class: "mr-2 mt-3" %>
            <%= f.text_field :nationality, placeholder: "インドネシア", class: "form-control w-50 d-inline" %> を含む
          </div>
        </div>

        <div class="col-md-6">
          <div class="field">
            <%= f.label :学費, class: "mr-2" %>
            <%= f.text_field :anual_fee_greater_than_or_equal, placeholder: "下限なし", class: "form-control w-25 d-inline" %>
            〜
            <%= f.text_field :anual_fee_less_than, placeholder: "上限なし", class: "form-control w-25 d-inline" %>
          </div>

          <div class="field">
            <%= f.label :単語, class: "mr-2 mt-3" %>
            <%= f.text_field :word, class: "form-control w-50 d-inline" %>
          </div>
        </div>
      </div>

      <div class="row mt-4">
        <div class="col-md-12 text-center">
        <div class="actions">
          <%= f.submit "検索", class: "btn btn-secondary w-25" %>
        </div>
        <% end %>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12 mt-5">
      <h5>日本語学校一覧</h5>
      <%= link_to "新規学校登録", new_admin_school_path, class: "btn btn-info" %>
    </div>
  </div>
</div>

<%= render "admin/schools/index.html.erb", schools: @schools %>
<!--</div>-->