<div class="container">

  <div class="row mt-5">
    <h3>学校情報編集</h3>
  </div>

  <div class="row">
    <p><%= flash[:alert] %></p>
  </div>

    <%= form_with model: @school, url: admin_school_path(@school), method: :patch do |f| %>

    <div class="row">
      <div class="col-md-5 text-right">
        <%= f.label :学校画像 %>
      </div>
      <div class="col-md-5 offset-md-1">
        <%= f.file_field :image, accept: "image/*" %>
      </div>
    </div>

    <div class="row mt-2">
      <div class="col-md-5 text-right">
        <%= f.label :学校画像出典 %>（URL）
      </div>
      <div class="col-md-5 offset-md-1">
        <%= f.text_area :image_from, class: "form-control", rows: "1" %>
      </div>
    </div>

    <div class="row mt-2">
      <div class="col-md-5 text-right">
        <%= f.label :日本語学校名 %>*
      </div>
      <div class="col-md-5 offset-md-1">
        <%= f.text_field :name, class: "form-control" %>
      </div>
    </div>

    <div class="row mt-2">
      <div class="col-md-5 text-right">
        <%= f.label :日本語学校名 %>(かな)*
      </div>
      <div class="col-md-5 offset-md-1">
        <%= f.text_field :name_kana, class: "form-control" %>
      </div>
    </div>

    <div class="row mt-2">
      <div class="col-md-5 text-right">
        <%= f.label :日本語学校名 %>(英語)*
      </div>
      <div class="col-md-5 offset-md-1">
        <%= f.text_field :name_en, class: "form-control" %>
      </div>
    </div>

    <div class="row mt-2">
      <div class="col-md-5 text-right">
        <%= f.label :学校情報 %>*
      </div>
      <div class="col-md-5 offset-md-1">
        <%= f.text_area :summary, class: "form-control" %>
      </div>
    </div>

    <div class="row mt-2">
      <div class="col-md-5 text-right">
        <%= f.label :最寄駅 %>*
      </div>
      <div class="col-md-5 offset-md-1">
        <%= f.text_field :station, class: "form-control" %>
      </div>
    </div>

    <div class="row mt-2">
      <div class="col-md-5 text-right">
        <%= f.label :都道府県 %>*
      </div>
      <div class="col-md-5 offset-md-1">
        <%= f.select :prefecture, School.prefectures.keys.map { |key| [I18n.t("enums.school.prefecture.#{key}"), key] }, {} %>
      </div>
    </div>

    <div class="row mt-2">
      <div class="col-md-5 text-right">
        <%= f.label :都道府県以降の住所 %>*
      </div>
      <div class="col-md-5 offset-md-1">
        <%= f.text_area :address, class: "form-control", rows: "1" %>
      </div>
    </div>

    <div class="row mt-2">
      <div class="col-md-5 text-right">
        <%= f.label :ホームページリンク %>
      </div>
      <div class="col-md-5 offset-md-1">
        <%= f.text_area :hp, class: "form-control", rows: "1" %>
      </div>
    </div>

    <div class="row mt-2">
      <div class="col-md-5 text-right">
        <%= f.label :Facebookリンク %>
      </div>
      <div class="col-md-5 offset-md-1">
        <%= f.text_area :facebook, class: "form-control", rows: "1" %>
      </div>
    </div>

    <div class="row mt-2">
      <div class="col-md-5 text-right">
        <%= f.label :Twitterリンク %>
      </div>
      <div class="col-md-5 offset-md-1">
        <%= f.text_area :twitter, class: "form-control", rows: "1" %>
      </div>
    </div>

    <div class="row mt-2">
      <div class="col-md-5 text-right">
        <%= f.label :Instagramリンク %>
      </div>
      <div class="col-md-5 offset-md-1">
        <%= f.text_area :instagram, class: "form-control", rows: "1" %>
      </div>
    </div>

    <div class="row mt-2">
      <div class="col-md-5 text-right">
        <%= f.label :TikTokリンク %>
      </div>
      <div class="col-md-5 offset-md-1">
        <%= f.text_area :tiktok, class: "form-control", rows: "1" %>
      </div>
    </div>

    <div class="row mt-2">
      <div class="col-md-5 text-right">
        <%= f.label :YouTubeリンク %>
      </div>
      <div class="col-md-5 offset-md-1">
        <%= f.text_area :youtube, class: "form-control", rows: "1" %>
      </div>
    </div>

    <div class="row mt-2">
      <div class="col-md-5 text-right">
        <%= f.label :入学要件 %>
      </div>
      <div class="col-md-5 offset-md-1">
        <%= f.text_area :condition, class: "form-control" %>
      </div>
    </div>

    <div class="row mt-2">
      <div class="col-md-5 text-right">
        <%= f.label :学費 %>(年間)
      </div>
      <div class="col-md-5 offset-md-1">
        <%= f.text_field :anual_fee, class: "form-control" %>
      </div>
    </div>

    <div class="row mt-2">
      <div class="col-md-5 text-right">
        <%= f.label :寮の有無 %>
      </div>
      <div class="col-md-5 offset-md-1">
        <%= f.radio_button :have_dormitory, :true %>
        <%= f.label :have_dormitory, "あり" %>
        <%= f.radio_button :have_dormitory, :false, checked: true %>
        <%= f.label :have_dormitory, "なし" %>
      </div>
    </div>

    <div class="row mt-2">
      <div class="col-md-5 text-right">
        <%= f.label :寮の家賃 %>(月額)
      </div>
      <div class="col-md-5 offset-md-1">
        <%= f.text_field :dormitory_fee, class: "form-control" %>
      </div>
    </div>

    <div class="row mt-2">
      <div class="col-md-5 text-right">
        <%= f.label :学生の国籍 %>(半角スペースで区切ってください)
      </div>
      <div class="col-md-5 offset-md-1">
        <%= f.text_field :nationality, value: @school.student_nationality_tags.map(&:nationality).join(" "), class: "form-control" %>
      </div>
    </div>

    <div class="row mt-2">
      <div class="col-md-5 text-right">
        <%= f.label :公開状況 %>*
      </div>
      <div class="col-md-5 offset-md-1">
        <%= f.radio_button :is_open, :true %>
        <%= f.label :is_open, "公開" %>
        <%= f.radio_button :is_open, :false %>
        <%= f.label :is_open, "非公開" %>
      </div>
    </div>

      <div class="actions mt-3 text-center mb-5">
        <%= f.submit "更新", class: "btn btn-success" %>
      </div>
    <% end %>

</div>