<div class="container">

  <div class="row">
    <h3>日本語学校一覧</h3>
    <%= link_to "日本語学校追加", new_admin_school_path %>
  </div>

  <div class="row">
  <table class="table">
    <tr>
      <td>No.</td>
      <td>日本語学校名</td>
      <td>レビュー件数</td>
      <td>全体星評価</td>
      <td>公開状況</td>
      <td>作成日</td>
    </tr>
      <% @schools.each do |school| %>
      <tr>
        <td><%= school.id %></td>
        <td><%= school.school_name %></td>
        <td><%= school.reviews.count %></td>
        <td><%#= school.reviews.star_integer %></td>
        <td><%= school.is_open %></td>
        <td><%= school.created_at.strftime('%Y%m%d') %></td>
      </tr>
      <% end %>
  </table>
  </div>
</div>