<div class="container">

  <div class="row">
    <h3>日本語学校登録</h3>
  </div>

  <div class="row">
    <%= form_with model: @school, url: admin_schools_path, method: :post do |f| %>

      <div class="field">
        <%= f.label :日本語学校名 %><br />
        <%= f.text_field :school_name, autofocus: true, placeholder: "ABC日本語学校" %>
      </div>

      <div class="field">
        <%= f.label :日本語学校名 %>(かな)<br />
        <%= f.text_field :school_name_kana, placeholder: "えーびーしーにほんごがっこう" %>
      </div>

      <div class="field">
        <%= f.label :日本語学校名 %>(英語)<br />
        <%= f.text_field :school_name_en, placeholder: "ABC Japanese Language School" %>
      </div>

      <div class="field">
        <%= f.label :学校情報 %><br />
        <%= f.text_area :summary, placeholder: "ABC日本語学校は2001年に設立され、これまでに数多くの卒業生を輩出してきました。" %>
      </div>

      <div class="field">
        <%= f.label :最寄駅 %><br />
        <%= f.text_field :station, placeholder: "JR渋谷駅" %>
      </div>

      <div class="field">
        <%= f.label :都道府県 %><br />
        <%= f.select :prefecture, School.prefectures.keys, {} %>
      </div>

      <div class="field">
        <%= f.label :住所 %><br />
        <%= f.text_area :address, placeholder: "渋谷区1-2-3" %>
      </div>

      <div class="field">
        <%= f.label :HPリンク %><br />
        <%= f.text_area :hp, placeholder: "https://abc-nihongo-gakko.example" %>
      </div>

      <div class="field">
        <%= f.label :Facebookリンク %><br />
        <%= f.text_area :facebook, placeholder: "https://facebook/abc-nihongo-gakko.com" %>
      </div>

      <div class="field">
        <%= f.label :Twitterリンク %><br />
        <%= f.text_area :twitter, placeholder: "https://twitter/abc-nihongo-gakko.com" %>
      </div>

      <div class="field">
        <%= f.label :Instagramリンク %><br />
        <%= f.text_area :instagram, placeholder: "https://instagram/abc-nihongo-gakko.com" %>
      </div>

      <div class="field">
        <%= f.label :TikTokリンク %><br />
        <%= f.text_area :tiktok, placeholder: "https://tiktok/abc-nihongo-gakko.com" %>
      </div>

      <div class="field">
        <%= f.label :YouTubeリンク %><br />
        <%= f.text_area :youtube, placeholder: "https://youtube/abc-nihongo-gakko.com" %>
      </div>

      <div class="field">
        <%= f.label :入学要件 %><br />
        <%= f.text_area :condition, placeholder: "日本語能力N5以上" %>
      </div>

      <div class="field">
        <%= f.label :学費 %>(年間)<br />
        <%= f.text_field :anual_fee, placeholder: "600,000" %>
      </div>

      <div class="field">
        <%= f.label :寮の有無 %><br />
        <%= f.radio_button :have_dormitory, :true %>
        <%= f.label :have_dormitory, "あり" %>
        <%= f.radio_button :have_dormitory, :false, checked: true %>
        <%= f.label :have_dormitory, "なし" %>
      </div>

      <div class="field">
        <%= f.label :寮の家賃 %>(月額)<br />
        <%= f.text_field :dormitory_fee, placeholder: "20,000" %>
      </div>

      <div class="field">
        <%= f.label :学生の国籍 %>(タグは半角スペースで区切ってください)<br />
        <%= f.text_field :nationality, placeholder: "インドネシア" %>
      </div>

      <div class="field">
        <%= f.label :公開状況 %><br />
        <%= f.radio_button :is_open, :true, checked: true %>
        <%= f.label :is_open, "公開" %>
        <%= f.radio_button :is_open, :false %>
        <%= f.label :is_open, "非公開" %>
      </div>

      <div class="actions">
        <%= f.submit "新規登録", class: "btn btn-success" %>
      </div>
    <% end %>
  </div>

</div>