<div class="container-fluid light-blue-container p-5">
  <div class="row">

    <div class="col-md-11 offset-md-1">
       <%= flash[:notice] %>
       <%= flash[:alert] %>
       <% if review.user.is_deleted == true %>
         <h5 class="translatable-text">退会済みユーザーの投稿したレビュー</h5>
       <% else %>
         <h5 class="translatable-text"><%= review.user.name %>さんの投稿したレビュー</h5>
       <% end %>
     </div>

    <div class="col-md-7 offset-md-1 bg-white p-4 mt-4">

      <div class="text-center border-bottom pb-3">
        <%= link_to user_path(review.user.id) do %>
        <%= image_tag review.user.get_profile_image(70,70), class: "rounded-circle mr-3" %>
        <% end %>
        <%= link_to review.school.name, school_path(review.school.id), class: "ml-3, text-dark translatable-text" %>
        <span class="translatable-text">（<%= review.user.went_school.graduate_year %>年<%= review.user.went_school.graduate_month %>月卒業）</span>
      </div>

      <div class="row">
        <div class="col-md-10 offset-md-1">
          <div class="d-flex mt-3">
            <h6 class="translatable-text">総合評価</h6>
            <div class="ml-3"><%= render "public/reviews/static_rate", review: review %></div>
          </div>
          <h6><%= review.comment_integer %></h6>
        </div>
      </div>

      <div class="row">
        <div class="col-md-10 offset-md-1">
          <div class="mt-4">
            <span class="translatable-text">【授業について】</span>
            <%= review.evaluation_class %>点/5点
          </div>
          <div><%= review.comment_class %></div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-10 offset-md-1">
          <div class="mt-4">
            <span class="translatable-text">【進路について】</span>
            <%= review.evaluation_after_graduation %>点/5点
          </div>
          <div><%= review.comment_after_graduation %></div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-10 offset-md-1">
          <div class="mt-4">
            <span class="translatable-text">【立地について】</span>
            <%= review.evaluation_place %>点/5点
          </div>
          <div><%= review.comment_place %></div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-10 offset-md-1">
          <div class="mt-4">
            <span class="translatable-text">【施設・設備について】</span>
            <%= review.evaluation_facility %>点/5点
          </div>
          <div><%= review.comment_facility %></div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-10 offset-md-1">
          <div class="mt-4">
            <span class="translatable-text">【学生について】</span>
            <%= review.evaluation_student %>点/5点
          </div>
          <div><%= review.comment_student %></div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-10 offset-md-1">
          <div class="mt-4">
            <span class="translatable-text">【教師について】</span>
            <%= review.evaluation_teacher %>点/5点
          </div>
          <div><%= review.comment_teacher %></div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-10 offset-md-1">
          <div class="mt-4">
            <span class="translatable-text">【学校生活について】</span>
            <%= review.evaluation_life %>点/5点
          </div>
          <div><%= review.comment_life %></div>
        </div>
      </div>

      <% if user_signed_in? && current_user.id == review.user.id %>
      <div class="row">
        <div class="col-md-10 offset-md-1">
          <div class="mt-4">
          <span class="translatable-text">【公開状況】</span>
            <% if review.is_open %>
              <span class="translatable-text">公開中</span>
            <% else %>
              <span class="translatable-text">非公開</span>
            <% end %>
          </div>
        </div>
      </div>
      <% end %>

      <div class="row">
        <div class="col-md-10 offset-md-1">
          <div class="mt-4">
            <% if review.created_at == review.updated_at %>
              <p class="translatable-text">投稿日：<%= review.created_at.strftime('%Y/%m/%d') %></p>
            <% else %>
              <p class="translatable-text">更新日：<%= review.updated_at.strftime('%Y/%m/%d') %></p>
            <% end %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-10 offset-md-1">
          <% if review.user == current_user %>
            <p class="mt-4"><%= link_to "編集", edit_review_path(review), class: "btn btn-success translatable-text" %>
            <%= link_to "削除", review_path(review), method: :delete, class: "btn btn-danger translatable-text", data: { confirm: "レビューを削除してもよろしいですか？" } %></p>
          <% else %>
            <%= form_with url: new_alert_path, method: :get do |f| %>
            <%= hidden_field_tag :review_id, review.id %>
            <%= f.submit "このレビューを通報する", class: "btn btn-outline-danger" %>
            <% end %>
          <% end %>
        </div>
      </div>

    </div>


    <% if user_signed_in? && current_user.id == review.user.id %>
      <div class="col-md-3 offset-md-1 bg-white p-4 mt-4">
        <%= render "public/users/sidebar.html.erb", user: current_user %>
      </div>
    <% end %>

    <div class="col-md-7 offset-md-1 p-0">

      <span id="review-comments-index"><%= render 'public/comments/index.html.erb', review: review %></span>
      <%= render 'public/comments/form.html.erb', review: review %>

    </div>

  </div>
</div>