<div class="container-fluid light-blue-container p-5">
  <div class="row">

    <div class="col-md-11 offset-md-1">
       <%= flash[:notice] %>
       <%= flash[:alert] %>
       <h5><%= review.user.name %>さんの投稿したレビュー</h5>
     </div>

    <div class="col-md-7 offset-md-1 bg-white p-4 mt-4">

      <div class="text-center border-bottom pb-3">
        <%= link_to user_path(review.user.id) do %>
        <%= image_tag review.user.get_profile_image(70,70), class: "rounded-circle mr-3" %>
        <% end %>
        <%= link_to review.school.name, school_path(review.school.id), class: "ml-3, text-dark" %>
        （<%= review.user.went_school.graduate_year %>年<%= review.user.went_school.graduate_month %>月卒業）
      </div>

      <div class="d-flex mt-3">
        <h6>総合評価</h6>
        <div class="ml-3"><%= render "public/reviews/static_rate", review: review %></div>
      </div>
      <h6><%= review.comment_integer %></h6>

      <div class="mt-4">
        【授業について】
        <%= review.evaluation_class %>点/5点
      </div>
      <div><%= review.comment_class %></div>

      <div class="mt-4">
        【進路について】
        <%= review.evaluation_after_graduation %>点/5点
      </div>
      <div><%= review.comment_after_graduation %></div>

      <div class="mt-4">
        【立地について】
        <%= review.evaluation_place %>点/5点
      </div>
      <div><%= review.comment_place %></div>

      <div class="mt-4">
        【施設・設備について】
        <%= review.evaluation_facility %>点/5点
      </div>
      <div><%= review.comment_facility %></div>

      <div class="mt-4">
        【学生について】
        <%= review.evaluation_student %>点/5点
      </div>
      <div><%= review.comment_student %></div>

      <div class="mt-4">
        【教師について】
        <%= review.evaluation_teacher %>点/5点
      </div>
      <div><%= review.comment_teacher %></div>

      <div class="mt-4">
        【学校生活について】
        <%= review.evaluation_life %>点/5点
      </div>
      <div><%= review.comment_life %></div>

      <div class="mt-4">
        【公開状況】

          <% if review.is_open %>
            公開中
          <% else %>
            非公開
          <% end %>
        </div>

      <div class="mt-4">
        <p>投稿日：<%= review.created_at.strftime('%Y/%m/%d') %></p>
      </div>

      <% if review.user == current_user %>
        <p class="mt-4"><%= link_to "編集", edit_review_path(review), class: "btn btn-success" %>
        <%= link_to "削除", review_path(review), method: :delete, class: "btn btn-danger", data: { confirm: "レビューを削除してもよろしいですか？" } %></p>
      <% else %>
        <p>
          <%= form_with url: new_alert_path, method: :get do |f| %>
            <%= hidden_field_tag :review_id, review.id %>
            <%= f.submit "このレビューを通報する", class: "btn btn-outline-danger" %>
          <% end %>
        </p>
      <% end %>

    </div>


    <% if user_signed_in? && current_user.id == review.user.id %>
      <div class="col-md-3 offset-md-1 bg-white p-4 mt-4">
        <%= render "public/users/sidebar.html.erb", user: current_user %>
      </div>
    <% end %>

    <div class="col-md-7 offset-md-1 p-0">
      <% review.comments.each do |comment| %>
        <div class="d-flex bg-white mt-4 p-4">
          <div class="mr-2">
            <%= image_tag comment.user.get_profile_image(80, 80), class: "rounded-circle mr-3" %>
          </div>
          <div>
            <%= comment.user.name %>　<span class="text-secondary"><%= comment.created_at.strftime('%Y/%m/%d') %></span>
            <div><%= comment.comment %></div>
            <% if user_signed_in? && comment.user_id == current_user.id %>
              <%= link_to "削除", comment_path(comment.id), method: :delete, data: { confirm: "コメントを削除してもよろしいですか？" }, class: "text-secondary" %>
            <% end %>
          </div>
        </div>
      <% end %>

      <%= form_with model: Comment.new, url: comments_path, method: :post do |f| %>
        <div class="d-flex mt-4">
          <div class="field">
            <%= f.text_area :comment, class: "mr-3 review-comment-input form-control", placeholder: "ここにコメントを書いてください" %>
            <%= f.hidden_field :review_id, :value => review.id %>
          </div>
          <div class="form-group">
            <%= f.submit "送信", class: 'btn btn-outline-secondary bg-white' %>
          </div>
        </div>
      <% end %>
    </div>

  </div>
</div>