<div class="col-md-10 offset-md-1">
  <% reviews.each do |review| %>

  <div class="col-md-10 offset-md-1 bg-white p-4 mt-4">

      <div class="text-center border-bottom pb-3">

        <% if review.user.is_deleted == true %>
          <%= image_tag 'UserDeleted.jpg', size: "70x70", class: "rounded-circle mr-3" %>
        <% else %>
          <%= link_to user_path(review.user.id) do %>
            <%= image_tag review.user.get_profile_image(70,70), class: "rounded-circle mr-3" %>
          <% end %>
        <% end %>

        <u><%= link_to review.school.name, school_path(review.school.id), class: "ml-3, text-dark" %></u>
        <span class="translatable-text">（<%= review.user.went_school.graduate_year %>年<%= review.user.went_school.graduate_month %>月卒業）</span>
      </div>

      <div class="d-flex mt-3">
        <h6 class="translatable-text">総合評価</h6>
        <div class="ml-3"><%= render "public/reviews/static_rate", review: review %></div>
      </div>
      <h6 class="translatable-text"><%= review.comment_integer %></h6>

      <div class="mt-4">
        <span class="translatable-text">【授業について】</span>
        <%= review.evaluation_class %>点/5点
      </div>
      <div class="translatable-text"><%= review.comment_class %></div>

      <div class="mt-4">
        <span class="translatable-text">【進路について】</span>
        <%= review.evaluation_after_graduation %>点/5点
      </div>
      <div class="translatable-text"><%= review.comment_after_graduation %></div>

      <div class="mt-4 ">
        <u><%= link_to "続きを読む", review_path(review), class: "text-dark translatable-text" %></u>
      </div>
    </div>
  <% end %>
</div>