<div class="container-fluid light-blue-container p-5">
  <div class="row">

    <div class="col-md-11 offset-md-1">
      <%= flash[:alert] %>
      <h5 class="translatable-text"><%= current_user.went_school.school.name %>のレビュー編集</h5>
      <p class="translatable-text text-danger">
        個人の特定ができる内容は記入しないでください<br>
        事実ではない内容・誹謗中傷等は書き込まないでください
      </p>

      <% if flash[:alert].present? %>
        <div class="mt-3">
          <%= flash[:alert].html_safe if flash[:alert] %>
        </div>
      <% end %>

     </div>

    <div class="col-md-7 offset-md-1 bg-white p-4 mt-4">

       <%= form_with model:  @review, url: review_path(@review), method: :patch do |f| %>
       <%= hidden_field_tag :school_id, current_user.went_school.school.id %>

          <div class="row">
            <div class="col-md-5 text-right">
              <p class="translatable-text">学校全体に対する評価<span class="text-danger">*</span></p>
            </div>
            <div class="field col-md-7">
              <div class="form-group" id="star_integer">
                <%= f.label :star_integer %>
                <%= f.hidden_field :star_integer, id: :review_star, class: "form-control" %>
              </div>
            </div>

              <script>
                $(document).on('turbolinks:load', function() {
                  let elem = document.querySelector('#star_integer');
                  if(elem == null) return;

                  elem.innerHTML = ""
                  let opt = {
                    starOn: "<%= asset_path('star-on.png') %>",
                    starOff: "<%= asset_path('star-off.png') %>",
                    starHalf: "<%= asset_path('star-half.png') %>",
                    scoreName: 'review[star_integer]',
                  };
                  raty(elem, opt);
                });
              </script>
          </div>


        <div class="row">
          <div class="col-md-5 text-right">
            <%= f.label :学校全体に対するコメント, class: "translatable-text" %>
          </div>
          <div class="field col-md-7">
            <%= f.text_area :comment_integer, class: "form-control w-75" %>
          </div>
        </div>

        <div class="row mt-3">
          <div class="col-md-5 text-right">
            <%= f.label :授業, class: "translatable-text" %>
          </div>
          <div class="field col-md-7">
            <%=  f.select :evaluation_class, 1..5%>
          </div>
        </div>

        <div class="row">
          <div class="col-md-5 text-right">
            <%= f.label :授業評価の理由, class: "translatable-text" %>
          </div>
          <div class="field col-md-7">
            <%= f.text_area :comment_class, class: "form-control w-75" %>
          </div>
        </div>

        <div class="row mt-3">
          <div class="col-md-5 text-right">
            <%= f.label :進路評価, class: "translatable-text" %>
          </div>
          <div class="field col-md-7">
            <%=  f.select :evaluation_after_graduation, 1..5%>
          </div>
        </div>

        <div class="row">
          <div class="col-md-5 text-right">
            <%= f.label :進路評価の理由, class: "translatable-text" %>
          </div>
          <div class="field col-md-7">
            <%= f.text_area :comment_after_graduation, class: "form-control w-75" %>
          </div>
        </div>

        <div class="row mt-3">
          <div class="col-md-5 text-right">
            <%= f.label :立地評価, class: "translatable-text" %>
          </div>
          <div class="field col-md-7">
            <%=  f.select :evaluation_place, 1..5%>
          </div>
        </div>

        <div class="row">
          <div class="col-md-5 text-right">
            <%= f.label :立地評価の理由, class: "translatable-text" %>
          </div>
          <div class="field col-md-7">
            <%= f.text_area :comment_place, class: "form-control w-75" %>
          </div>
        </div>

        <div class="row mt-3">
          <div class="col-md-5 text-right">
            <%= f.label :施設・設備評価, class: "translatable-text" %>
          </div>
          <div class="field col-md-7">
            <%=  f.select :evaluation_facility, 1..5%>
          </div>
        </div>

        <div class="row">
          <div class="col-md-5 text-right">
            <%= f.label :施設・設備評価の理由, class: "translatable-text" %>
          </div>
          <div class="field col-md-7">
            <%= f.text_area :comment_facility, class: "form-control w-75" %>
          </div>
        </div>

        <div class="row mt-3">
          <div class="col-md-5 text-right">
            <%= f.label :学生評価, class: "translatable-text" %>
          </div>
          <div class="field col-md-7">
            <%=  f.select :evaluation_student, 1..5%>
          </div>
        </div>

        <div class="row">
          <div class="col-md-5 text-right">
            <%= f.label :学生評価の理由, class: "translatable-text" %>
          </div>
          <div class="field col-md-7">
            <%= f.text_area :comment_student, class: "form-control w-75" %>
          </div>
        </div>

        <div class="row mt-3">
          <div class="col-md-5 text-right">
            <%= f.label :教師評価, class: "translatable-text" %>
          </div>
          <div class="field col-md-7">
            <%=  f.select :evaluation_teacher, 1..5%>
          </div>
        </div>

        <div class="row">
          <div class="col-md-5 text-right">
            <%= f.label :教師評価の理由, class: "translatable-text" %>
          </div>
          <div class="field col-md-7">
            <%= f.text_area :comment_teacher, class: "form-control w-75" %>
          </div>
        </div>

        <div class="row mt-3">
          <div class="col-md-5 text-right">
            <%= f.label :学校生活評価, class: "translatable-text" %>
          </div>
          <div class="field col-md-7">
            <%=  f.select :evaluation_life, 1..5%>
          </div>
        </div>

        <div class="row">
          <div class="col-md-5 text-right">
            <%= f.label :学校生活評価の理由, class: "translatable-text" %>
          </div>
          <div class="field col-md-7">
            <%= f.text_area :comment_life, class: "form-control w-75" %>
          </div>
        </div>

        <div class="row mt-3">
          <div class="col-md-5 text-right">
            <%= f.label :公開状況, class: "translatable-text" %>
          </div>
          <div class="field col-md-7">
            <%= f.radio_button :is_open, :true, checked: true %>
            <%= f.label :is_open, "公開", class: "translatable-text" %>
            <%= f.radio_button :is_open, :false %>
            <%= f.label :is_open, "下書き保存", class: "translatable-text" %>
          </div>
        </div>

        <div class="row mt-4 actions">
            <div class="col-md-12 text-center">
              <%= f.submit "レビューを更新", class: "btn btn-success" %>
              <%= link_to "レビューを削除", review_path(@review), method: :delete, data: { confirm: "レビューを削除してもよろしいですか？" }, class: "btn btn-danger translatable-text" %>
            </div>
          </div>
        <% end %>

      </div>

      <div class="col-md-3 offset-md-1 bg-white p-4 mt-4">
        <%= render "public/users/sidebar.html.erb", user: current_user %>
      </div>

  </div>
</div>