<div class="container p-5">
  <div class="row">
    <div class="col-md-12">

      <h5>パスワード再設定</h5>

      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "public/shared/error_messages", resource: resource %>
        <%= f.hidden_field :reset_password_token %>

        <div class="field mt-3">
          <%= f.label :新しいパスワード, class: "translatable-text" %>
          <% if @minimum_password_length %>
            (<%= @minimum_password_length %> 文字以上)
          <% end %>
          <%= f.password_field :password, autofocus: true, class: "form-control w-25" %>
        </div>

        <div class="field mt-3">
          <%= f.label :新しいパスワード（確認用）, class: "translatable-text" %>
          <%= f.password_field :password_confirmation, class: "form-control w-25" %>
        </div>

        <div class="actions mt-3">
        <%= button_tag(type: 'submit', class: "btn btn-success translatable-text") do %>
          パスワード変更
        <% end %>
      </div>
      <% end %>



    </div>
  </div>
</div>