<div class="container p-5">
  <div class="row">
    <div class="col-md-12">

    <h5>パスワードの再設定</h5>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "public/shared/error_messages.html.erb", resource: resource %>

      <div class="field mt-3">
        <%= f.label :ご登録のメールアドレス, class: "translatable-text" %>
        <%= f.email_field :email, autofocus: true, placeholder: "sample@example.com", class: "form-control w-25" %>
      </div>

      <div class="actions mt-3">
        <%= button_tag(type: 'submit', class: "btn btn-secondary translatable-text") do %>
          パスワード再設定用リンクを送信
        <% end %>
      </div>

    <% end %>

    </div>
  </div>
</div>