<div class="continer light-blue-container p-5">

  <div class="row">
    <div class="col-md-11 offset-md-1">
     <span class="translatable-text"><%= flash[:notice] %></span>
     <h5 class="text-danger translatable-text">以下のレビューを通報する理由を教えてください。</h5>
   </div>
  </div>

   <div class="row">
     <div class="col-md-7 offset-md-1 bg-white p-4 mt-4">

        <div class="text-center border-bottom pb-3">

          <% if @review.user.is_deleted == true %>
            <%= image_tag 'UserDeleted.jpg', size: "70x70", class: "rounded-circle mr-3" %>
          <% else %>
            <%= link_to user_path(@review.user.id) do %>
              <%= image_tag @review.user.get_profile_image(70,70), class: "rounded-circle mr-3" %>
            <% end %>
          <% end %>

          <%= link_to @review.school.name, school_path(@review.school.id), class: "ml-3, text-dark translatable-text" %>
          <span class="translatable-text">（<%= @review.user.went_school.graduate_year %>年<%= @review.user.went_school.graduate_month %>月卒業）</span>
        </div>

        <div class="row">
        <div class="col-md-10 offset-md-1">
          <div class="d-flex mt-3">
            <h6 class="translatable-text">総合評価</h6>
            <div class="ml-3"><%= render "public/reviews/static_rate", review: @review %></div>
          </div>
          <h6 class="translatable-text"><%= @review.comment_integer %></h6>
        </div>
      </div>

      <div class="row">
        <div class="col-md-10 offset-md-1">
          <div class="mt-4">
            <span class="translatable-text">【授業について】</span>
            <%= @review.evaluation_class %>点/5点
          </div>
          <div class="translatable-text"><%= @review.comment_class %></div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-10 offset-md-1">
          <div class="mt-4">
            <span class="translatable-text">【進路について】</span>
            <%= @review.evaluation_after_graduation %>点/5点
          </div>
          <div class="translatable-text"><%= @review.comment_after_graduation %></div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-10 offset-md-1">
          <div class="mt-4">
            <span class="translatable-text">【立地について】</span>
            <%= @review.evaluation_place %>点/5点
          </div>
          <div class="translatable-text"><%= @review.comment_place %></div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-10 offset-md-1">
          <div class="mt-4">
            <span class="translatable-text">【施設・設備について】</span>
            <%= @review.evaluation_facility %>点/5点
          </div>
          <div class="translatable-text"><%= @review.comment_facility %></div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-10 offset-md-1">
          <div class="mt-4">
            <span class="translatable-text">【学生について】</span>
            <%= @review.evaluation_student %>点/5点
          </div>
          <div class="translatable-text"><%= @review.comment_student %></div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-10 offset-md-1">
          <div class="mt-4">
            <span class="translatable-text">【教師について】</span>
            <%= @review.evaluation_teacher %>点/5点
          </div>
          <div class="translatable-text"><%= @review.comment_teacher %></div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-10 offset-md-1">
          <div class="mt-4">
            <span class="translatable-text">【学校生活について】</span>
            <%= @review.evaluation_life %>点/5点
          </div>
          <div class="translatable-text"><%= @review.comment_life %></div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-10 offset-md-1">
          <div class="mt-4">
            <% if @review.created_at == @review.updated_at %>
              <p class="translatable-text">投稿日：<%= @review.created_at.strftime('%Y/%m/%d') %></p>
            <% else %>
              <p class="translatable-text">更新日：<%= @review.updated_at.strftime('%Y/%m/%d') %></p>
            <% end %>
          </div>
        </div>
      </div>

      </div>
    </div>

    <div class="row mt-5">
      <div class="col-md-11 offset-md-1">
        <h5 class="translatable-text">通報理由<span class="text-danger">*</span></h5>
      </div>
    </div>

    <%= form_with model: Alert.new, url: alerts_path, method: :post do |f| %>
    <%= hidden_field_tag :review_id, @review.id %>

    <div class="row">
      <div class="col-md-11 offset-md-1 field">
        <%= f.text_area :reason, class: "w-50 form-control" %>
      </div>
    </div>

    <div class="row mt-5">
      <div class="col-md-11 offset-md-1 form-group">
        <%= button_tag(type: 'submit', class: "btn btn-danger translatable-text") do %>
          管理者へ通報
        <% end %>
      <% end %>
      </div>
    </div>

</div>