<div class="container">
  <div class="row">

    <%= form_with model: Alert.new, url: alerts_path, method: :post do |f| %>

    <div class="field">
      <%= f.label :通報理由 %><br />
      <%= f.text_area :reason %>
    </div>

    <%#= hidden_field :review_id, params[:review_id] %>
    <%= hidden_field_tag :review_id, @review.id %>

    <div class="form-group">
      <%= f.submit "通報する", class: 'btn btn-outline-danger' %>
    </div>
    <% end %>

  </div>
</div>