<div class="continer light-blue-container p-5">

  <div class="row mx-auto">
    <div class="col-md-10 offset-md-1">
      <h5>新規会員登録</h5>
      <%= flash[:notice] %>

      <div class="bg-white p-5 mt-4">
        <%= form_with model: @user, url: user_registration_path, method: :post do |f|  %>
        <%= render "public/shared/error_messages", resource: resource %>

        <div class="row">
          <div class="col-md-5 text-right">
            <%= f.label :お名前 %>
          </div>
          <div class="field col-md-7">
            <%= f.text_field :name, autofocus: true, placeholder: "お名前 / Your Name", class: "w-50" %>
          </div>
        </div>

        <div class="row mt-2">
          <div class="col-md-5 text-right">
            <%= f.label :おなまえ %>(ひらがな)
          </div>
          <div class="field col-md-7">
            <%= f.text_field :name_kana, placeholder: "おなまえ", class: "w-50" %>
          </div>
        </div>

        <div class="row mt-2">
          <div class="col-md-5 text-right">
            <%= f.label :メールアドレス %>
          </div>
          <div class="field col-md-7">
            <%= f.email_field :email, placeholder: "sample@example.com", class: "w-50" %>
          </div>
        </div>

        <div class="row mt-2">
          <div class="col-md-5 text-right">
            <%= f.label :お国 %>
          </div>
          <div class="field col-md-7">
            <%= f.country_select :country_code %>
          </div>
        </div>

        <div class="row mt-2">
          <div class="col-md-5 text-right">
            <%= f.label :お仕事 %>
          </div>
          <div class="field col-md-7">
            <%= f.text_field :job, placeholder: "大学生", class: "w-50" %>
          </div>
        </div>

        <div class="row mt-2">
          <div class="col-md-5 text-right">
            <%= f.label :パスワード %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %>
          </div>
          <div class="field col-md-7">
            <%= f.password_field :password, placeholder: "新しいパスワード", class: "w-50" %>
          </div>
        </div>

        <div class="row mt-2">
          <div class="col-md-5 text-right">
            <%= f.label :パスワード %>(確認用)
          </div>
          <div class="field col-md-7">
            <%= f.password_field :password_confirmation, placeholder: "新しいパスワード（確認用）", class: "w-50" %>
          </div>
        </div>

        <div class="actions text-center mt-5">
          <%= f.submit "会員登録する", class: "btn registration-btn text-white" %>
        </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row mx-auto mt-5">
    <div class="col-md-10 offset-md-1 text-center">
      <%= link_to "会員の方はこちら", new_user_session_path, class: "btn login-button mt-3 bg-white" %>
    </div>
  </div>

</div>