<div class="continaer">
  <div class="row mx-auto">
    <div class="col-md-12">

      <h3>新規登録</h3>

      <%#= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= form_with model: User.new, url: user_registration_path, method: :post do |f|  %>
        <%= render "public/shared/error_messages", resource: resource %>

        <div class="field">
          <%= f.label :お名前 %><br />
          <%= f.text_field :name, autofocus: true, placeholder: "name" %>
        </div>

        <div class="field">
          <%= f.label :おなまえ %>(ひらがな)<br />
          <%= f.text_field :name_kana, placeholder: "おなまえ" %>
        </div>

        <div class="field">
          <%= f.label :メールアドレス %><br />
          <%= f.email_field :email, placeholder: "email" %>
        </div>

        <div class="field">
          <%= f.label :お国 %><br />
          <%= f.country_select :country_code %>
          <%#= f.text_field :nationality, placeholder: "nationality" %>
        </div>

        <div class="field">
          <%= f.label :お仕事 %><br />
          <%= f.text_field :job, placeholder: "会社員" %>
        </div>

        <div class="field">
          <%= f.label :パスワード %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password" %>
        </div>

        <div class="field">
          <%= f.label :パスワード %>(確認用)<br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>

        <div class="actions">
          <%= f.submit "新規登録", class: "btn btn-success" %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="row mx-auto">
    <div class="col-md-12">
      <%#= render "public/shared/links" %>
      <h3>登録済みの方</h3>
      <%= link_to "こちら", new_user_session_path %>からログインしてください。
    </div>
  </div>

</div>