<div class="container">

  <div class="row">

    <div class="col-md-4 text-center">
      <% if @school.image_from.present? %>
        <%= link_to @school.image_from do %>
          <%= image_tag @school.get_image(300,225), class: "object-fit-cover" %>
        <% end %>
        <p>引用：<%= link_to "リンク", @school.image_from %></p>
      <% else %>
        <%= image_tag @school.get_image(300,225), class: "object-fit-cover" %>
      <% end %>
    </div>

    <div class="col-md-8">
      <h5><%= @school.name %></h5>
      <p class="text-secondary"><%= @school.name_en %></p>
      <i class="fa-solid fa-location-dot text-info mr-1"></i><%= @school.prefecture %>/<%= @school.station %>

      <% if user_signed_in? %>
        <% if @school.favorited_by?(current_user) %>
          <%= link_to school_favorites_path(@school.id), method: :delete do %>
              <p class="text-dark"><i class="fa-solid fa-heart text-danger mr-1"></i>お気に入り解除</p>
          <% end %>
        <% else %>
          <%= link_to school_favorites_path(@school.id), method: :post do %>
              <p class="text-dark"><i class="fa-regular fa-heart text-danger mr-1"></i>お気に入り登録</p>
          <% end %>
        <% end %>
      <% else %>
        <%= link_to school_favorites_path(@school.id), method: :post do %>
            <p class="text-dark"><i class="fa-regular fa-heart text-danger mr-1"></i>お気に入り登録</p>
        <% end %>
      <% end %>

      <% if @school.reviews.present? %>
        <%= render "public/reviews/average_rate.html.erb", school: @school %>
        <p>口コミ：<%= @school.reviews.count %>件</p>
      <% else %>
        <p>口コミはまだありません</p>
      <% end %>

      <div>
        <% if user_signed_in? %>
          <% unless @school.reviewed_by?(current_user)  %>
            <%= form_with url: new_review_path, method: :get do |f| %>
              <%= hidden_field_tag :school_id, @school.id %>
              <%= f.submit "この学校のレビューを作成する", class: "btn btn-outline-success" %>
            <% end %>
          <% end %>
        <% else %>
          <%= link_to "レビューを投稿する", new_review_path, class: "btn btn-outline-success" %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-md-6">

      <div>
        <h6>【<%= @school.name %>の特色】</h6>
        <p><%= @school.summary %></p>
      </div>

      <div>
        <h6>【住所】</h6>
        <p><%= @school.prefecture %> <%= @school.address %></p>
      </div>

      <div>
        <h6>【HP】</h6>
        <% if @school.hp.blank? %>
          HP情報はありません
        <% else %>
          <p><%= link_to @school.hp, @school.hp %></p>
        <% end %>
      </div>

      <div class="mb-2">
        <h6>【SNS】</h6>
          <% if @school.facebook.present? %>
            <%= link_to @school.facebook do %>
              <i class="fa-brands fa-facebook fa-xl text-dark mr-1"></i>
            <% end %>
          <% end %>
          <% if @school.twitter.present? %>
            <%= link_to @school.twitter do %>
              <i class="fa-brands fa-square-x-twitter fa-xl text-dark mr-1"></i>
            <% end %>
          <% end %>
          <% if @school.instagram.present? %>
            <%= link_to @school.instagram do %>
              <i class="fa-brands fa-instagram fa-xl text-dark mr-1"></i>
            <% end %>
          <% end %>
          <% if @school.tiktok.present? %>
            <%= link_to @school.tiktok do %>
              <i class="fa-brands fa-tiktok fa-xl text-dark mr-1"></i>
            <% end %>
          <% end %>
          <% if @school.youtube.present? %>
            <%= link_to @school.youtube do %>
              <i class="fa-brands fa-youtube fa-xl text-dark mr-1"></i>
            <% end %>
          <% end %>
          <% if @school.facebook.blank? && @school.twitter.blank? && @school.instagram.blank? && @school.tiktok.blank? && @school.youtube.blank? %>
            SNSアカウントはありません
          <% end %>
      </div>

    </div>
    <div class="col-md-6">

      <div>
        <h6>【入学要件】</h6>
        <p><%= @school.condition %></p>
      </div>

      <div>
        <h6>【学費（年間）】</h6>
        <p><%= @school.anual_fee.to_s(:delimited) %>円</p>
      </div>

      <div>
        <h6>【学生の国籍】</h6>
        <ul class="list-unstyled">
          <% @school.student_nationality_tags.each do |tag| %>
            <li><%= tag.nationality %></li>
          <% end %>
        </ul>
      </div>

      <div>
        <h6>【寮の有無（寮の家賃）】</h6>
          <% if @school.have_dormitory == true %>
            <p>あり（家賃：<%= @school.dormitory_fee.to_s(:delimited) %>円/月）</p>
          <% else %>
            <p>なし</p>
          <% end %>
      </div>

    </div>
  </div>


  <% if @school.courses.present? %>
    <h3><%= @school.name %>のコース情報</h3>

    <table class="table">
      <tr>
        <td>コース名</td>
        <td>入学時期</td>
        <td>在学期間</td>
        <td>定員</td>
        <td>コース入学要件</td>
      </tr>
      <% @courses.each do |course| %>
      <tr>
        <td><%= course.name %></td>
        <td><%= course.admission_month %>月</td>
        <td><%= course.duration %>ヶ月</td>
        <td><%= course.capacity %>名</td>
        <td><%= course.condition %></td>
      </tr>
      <% end %>
    </table>
  <% else %>
    <h5>この日本語学校のコース情報はまだ登録されていません</h5>
  <% end %>

  <% if @school.reviews.present? %>
  <h3><%= @school.name %>のレビュー一覧</h3>

  <!--<table class="table">-->
  <!--  <tr>-->
  <!--    <td>No.</td>-->
  <!--    <td>投稿者名</td>-->
  <!--    <td>星評価（全体）</td>-->
  <!--    <td>コメント（全体）</td>-->
  <!--  </tr>-->
  <!--  <tr>-->
  <!--    <%# @school.reviews.each do |review| %>-->
  <!--    <td><%#= link_to review.id, review_path(review.id) %></td>-->
  <!--    <td><%#= review.user.name %></td>-->
  <!--    <td><%#= render "public/reviews/static_rate", review: review %></td>-->
  <!--    <td><%#= review.comment_integer %></td>-->
  <!--  </tr>-->
  <!--    <#% end %>-->
  <!--</table>-->
    <% @school.reviews.each do |review| %>
    <div class="each-review bg-light p-4 mt-3">
      <div class="review-title d-flex align-items-center">
        <p><%= image_tag review.user.get_profile_image(100, 100), class: "rounded-circle" %></p>
        <p class="ml-5"><%= review.user.name %>さん(<%= review.user.country %>)</p>
        <% if review.user.went_school.present? %>
          <p><%= review.user.went_school.graduate_year %>年<%= review.user.went_school.graduate_month %>月　<%= review.user.went_school.school.name %>卒業</p>
        <% else %>
        <% end %>
      </div>
      <p>投稿日：<%= review.created_at.strftime('%Y/%m/%d') %></p>

      <div class="d-flex">
        <h5>総合評価</h5>
        <div class="ml-3"><%= render "public/reviews/static_rate", review: review %></div>
      </div>
      <h5><%= review.comment_integer %></h5>

      <div class="d-flex mt-4">
        <h6>授業について</h6>
        <div class="ml-3"><%= review.evaluation_class %>点/5点</div>
      </div>
      <div><%= review.comment_class %></div>

      <div class="d-flex mt-4">
        <h6>進路について</h6>
        <div class="ml-3"><%= review.evaluation_after_graduation %>点/5点</div>
      </div>
      <div><%= review.comment_after_graduation %></div>

      <div class="d-flex mt-4">
        <h6>立地について</h6>
        <div class="ml-3"><%= review.evaluation_place %>点/5点</div>
      </div>
      <div><%= review.comment_place %></div>

      <div class="d-flex mt-4">
        <h6>施設・設備について</h6>
        <div class="ml-3"><%= review.evaluation_facility %>点/5点</div>
      </div>
      <div><%= review.comment_facility %></div>

      <div class="d-flex mt-4">
        <h6>学生について</h6>
        <div class="ml-3"><%= review.evaluation_student %>点/5点</div>
      </div>
      <div><%= review.comment_student %></div>

      <div class="d-flex mt-4">
        <h6>教師について</h6>
        <div class="ml-3"><%= review.evaluation_teacher %>点/5点</div>
      </div>
      <div><%= review.comment_teacher %></div>

      <div class="d-flex mt-4">
        <h6>学校生活について</h6>
        <div class="ml-3"><%= review.evaluation_life %>点/5点</div>
      </div>
      <div><%= review.comment_life %></div>
    </div>
    <% end %>

  <% else %>
    <h5>この日本語学校のレビューはまだ登録されていません</h5>
  <% end %>

</div>