<div class="container p-5">

  <div class="row">

    <div class="col-md-4  offset-md-1 text-center">
      <% if @school.image_from.present? %>
        <%= link_to @school.image_from do %>
          <%= image_tag @school.get_image(300,225), class: "object-fit-cover" %>
        <% end %>
        <p class="translatable-text">引用：<%= link_to "リンク", @school.image_from %></p>
      <% else %>
        <%= image_tag @school.get_image(300,225), class: "object-fit-cover" %>
      <% end %>
    </div>

    <div class="col-md-7">
      <h5><%= @school.name %></h5>
      <p class="text-secondary"><%= @school.name_en %></p>
      <i class="fa-solid fa-location-dot text-info mr-1"></i><span class="translatable-text"><%= @school.prefecture_i18n %>/<%= @school.station %></span>

      <span id="favorite_btns_<%= @school.id %>">
        <% school = @school %>
        <%= render 'public/favorites/btn.html.erb', school: school %>
      </span>

      <% if @school.reviews.present? %>
        <%= render "public/reviews/average_rate.html.erb", school: @school %>
        <p class="translatable-text">口コミ：<%= @school.reviews.count %>件</p>
      <% else %>
        <p class="translatable-text">口コミはまだありません</p>
      <% end %>

      <div>
        <% if user_signed_in? && current_user.went_school.present? && current_user.went_school.school.id == @school.id %>
          <% unless @school.reviewed_by?(current_user)  %>
              <%= form_with url: new_review_path, method: :get do |f| %>
                <%= hidden_field_tag :school_id, @school.id %>
                <%= f.submit "この学校のレビューを作成する", class: "btn btn-outline-success" %>
              <% end %>
          <% else %>
            <%= link_to "投稿したレビューを見る", review_path(current_user.review), class: "btn btn-outline-info" %>
          <% end %>
        <% end %>

      </div>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-md-10 offset-md-1">
      <h5 class="translatable-text"><%= @school.name %>の特色</h5>
      <p><%= @school.summary %></p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-10 offset-md-1">

    <table class="table mt-3 mb-3">
      <tr>
        <td class="translatable-text">【住所】</td>
        <td class="translatable-text"><%= @school.prefecture_i18n %> <%= @school.address %></td>
      </tr>
      <tr>
        <td>【HP】</td>
        <td>
          <% if @school.hp.blank? %>
            HP情報はありません
          <% else %>
            <p><%= link_to @school.hp, @school.hp %></p>
          <% end %>
        </td>
      </tr>
      <tr>
        <td>【SNS】</td>
        <td>
          <% if @school.facebook.present? %>
          <%= link_to @school.facebook do %>
            <i class="fa-brands fa-facebook fa-xl text-dark mr-1"></i>
          <% end %>
        <% end %>
        <% if @school.twitter.present? %>
          <%= link_to @school.twitter do %>
            <i class="fa-brands fa-square-x-twitter fa-xl text-dark mr-1"></i>
          <% end %>
        <% end %>
        <% if @school.instagram.present? %>
          <%= link_to @school.instagram do %>
            <i class="fa-brands fa-instagram fa-xl text-dark mr-1"></i>
          <% end %>
        <% end %>
        <% if @school.tiktok.present? %>
          <%= link_to @school.tiktok do %>
            <i class="fa-brands fa-tiktok fa-xl text-dark mr-1"></i>
          <% end %>
        <% end %>
        <% if @school.youtube.present? %>
          <%= link_to @school.youtube do %>
            <i class="fa-brands fa-youtube fa-xl text-dark mr-1"></i>
          <% end %>
        <% end %>
        <% if @school.facebook.blank? && @school.twitter.blank? && @school.instagram.blank? && @school.tiktok.blank? && @school.youtube.blank? %>
          SNSアカウントはありません
        <% end %>
        </td>
      </tr>
      <tr>
        <td class="translatable-text">【入学要件】</td>
        <td><%= @school.condition %></td>
      </tr>
      <tr>
        <td class="translatable-text">【学費（年間）】</td>
        <td>
          <% if @school.anual_fee.present? %>
            <span class="translatable-text"><%= @school.anual_fee.to_s(:delimited) %>円</span>
          <% end %>
        </td>
      </tr>
      <tr>
        <td class="translatable-text">【学生の国籍】</td>
        <td><%= @school.student_nationality_tags.map { |tag| tag.nationality }.join(", ") %></td>
      </tr>
      <tr>
        <td class="translatable-text">【寮の有無（寮の家賃）】</td>
        <td>
          <% if @school.have_dormitory == true %>
            <span class="translatable-text">あり（家賃：<%= @school.dormitory_fee.to_s(:delimited) %>円/月）</span>
          <% else %>
            <span class="translatable-text">なし</span>
          <% end %>
        </td>
      </tr>
    </table>

    </div>
  </div>

  <div class="row mt-3">
    <div class="col-md-10 offset-md-1">
      <%= render "public/schools/map.html.erb", school: @school %>
    </div>
  </div>
</div>

<div class="container">
  <% if @school.courses.present? %>
    <div class="row">
      <div class="col-md-12">
        <h5 class="translatable-text">コース情報</h5>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-md-12">
        <table class="table table-borderless text-center">
          <tr>
            <td class="translatable-text">【コース名】</td>
            <td class="translatable-text">【入学時期】</td>
            <td class="translatable-text">【在学期間】</td>
            <td class="translatable-text">【定員】</td>
            <td class="translatable-text">【コース入学要件】</td>
          </tr>
          <% @courses.each do |course| %>
          <tr>
            <td class="translatable-text"><%= course.name %></td>
            <td class="translatable-text"><%= course.admission_month %>月</td>
            <td class="translatable-text"><%= course.duration %>ヶ月</td>
            <td class="translatable-text">
              <% if course.capacity.present? %>
                <%= course.capacity %>名
              <% end %>
              </td>
            <td><%= course.condition %></td>
          </tr>
        <% end %>
      </table>
    </div>
    </div>
  <% else %>
  <% end %>
</div>

<%= render "public/reviews/average_review.html.erb", school: @school %>

<% if @reviews.present? %>
  <div class="container-fluid light-blue-container p-5">
    <div class="row">
      <% @reviews.each do |review| %>
      <%= render "public/reviews/short_review.html.erb", reviews: @reviews %>
      <% end %>
    </div>
  </div>
<% else %>
<div class="container-fluid light-blue-container p-5">
  <div class="row">
    <div class="col-md-11 offset-md-1">
       <h5 class="translatable-text">まだレビューがありません</h5>
     </div>
    </div>
  </div>
<% end %>





