<div class="container">

  <div class="row mt-5">
    <h5>通報編集</h5>
  </div>

  <div class="row">
    <p><%= flash[:alert] %></p>
  </div>

    <%= form_with model: @alert, url: admin_alert_path(@alert.id), method: :patch do |f| %>

    <div class="row mt-2">
      <div class="col-md-5 text-right">
        通報者
      </div>
      <div class="col-md-5 offset-md-1">
        <%= @alert.user.name %>
      </div>
    </div>

    <div class="row mt-2">
      <div class="col-md-5 text-right">
        通報理由
      </div>
      <div class="col-md-5 offset-md-1">
        <%= @alert.reason %>
      </div>
    </div>

    <div class="row mt-2">
      <div class="col-md-5 text-right">
        通報されたレビューNo.
      </div>
      <div class="col-md-5 offset-md-1">
        <%= link_to @alert.review.id, admin_review_path(@alert.review) %>
      </div>
    </div>

    <div class="row mt-2">
      <div class="col-md-5 text-right">
        <%= f.label :対応状況 %>
      </div>
      <div class="col-md-5 offset-md-1">
        <%= f.radio_button :is_done, :true %>
        <%= f.label :is_done, "対応済み" %>
        <%= f.radio_button :is_done, :false %>
        <%= f.label :is_done, "未対応" %>
      </div>
    </div>

      <div class="actions mt-5 text-center mb-5">
        <%= link_to "戻る", admin_alerts_path, class: "btn btn-info" %>
        <%= f.submit "更新", class: "btn btn-success" %>
      </div>
    <% end %>

</div>