<div class="container">

  <div class="row">
    <h3>会員一覧</h3>
  </div>

  <div class="row">
  <table class="table">
    <tr>
      <td>No.</td>
      <td>氏名</td>
      <td>氏名（かな）</td>
      <td>レビュー件数</td>
      <td>退会ステータス</td>
      <td>作成日</td>
    </tr>
      <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= link_to user.name, admin_user_path(user.id) %></td>
        <td><%= user.name_kana %></td>
        <td><%= user.reviews.count %></td>
        <td><%= user.is_deleted %></td>
        <td><%= user.created_at.strftime('%Y/%m/%d') %></td>
      </tr>
      <% end %>
  </table>
  </div>
</div>