<div class="continer light-blue-container p-5">
  <div class="row mx-auto">

    <div class="col-md-5 offset-md-1">
    <h5>ログイン</h5>
      <div class="bg-white p-5 mt-4">
      <%= form_with model: @user, url: new_user_session_path, method: :post do |f|  %>

        <% unless flash[:alert].blank? %>
          <div class="text-center">
            <p><%= flash[:alert] %></p>
          </div>
        <% end %>


        <div class="row">
          <div class="col-md-5 text-right">
            <%= f.label :メールアドレス %>
          </div>
          <div class="field col-md-7">
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>
        </div>

        <div class="row mt-2">
          <div class="col-md-5 text-right">
            <%= f.label :パスワード %>
          </div>
          <div class="field col-md-7">
            <%= f.password_field :password, autocomplete: "current-password" %>
          </div>
        </div>

        <div class="row">
            <% if devise_mapping.rememberable? %>
              <div class="field col-md-7 offset-md-5">
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me %>
              </div>
            <% end %>
        </div>

        <div class="actions text-center mt-3">
          <%= f.submit "ログイン", class: "btn login-button" %>
        </div>
      <% end %>
      </div>

    </div>

    <div class="col-md-4 offset-md-1">
      <h5>まだ登録されていない方</h5>
      <div class="bg-white p-5 mt-4">
        <p>まずは無料の会員登録をお願いします。</p>
        <p>登録することで、気になる学校情報をブックマークしたり、レビューやコメントを投稿できるようになります。</p>
        <div class="text-center">
          <%= link_to "会員登録する（無料）", new_user_registration_path, class: "btn text-white registration-btn" %>
        </div>
      </div>
    </div>

  </div>
</div>