<div class="container">

  <div class="row">
    <h3>コース登録</h3>
  </div>

  <div class="row">
    <%= form_with model: @course, url: admin_courses_path, method: :post do |f| %>

      <div class="field">
        <%= f.label :コース名 %><br />
        <%= f.text_field :name, autofocus: true, placeholder: "2年コース" %>
      </div>

      <div class="field">
        <%= f.label :日本語学校 %><br />
        <%= f.collection_select :school_id, School.all, :id, :name %>
      </div>

      <div class="field">
        <%= f.label :入学時期 %>(月)<br />
        <%=  f.select :admission_month, 1..12%>
      </div>

      <div class="field">
        <%= f.label :在学期間 %>（ヶ月）<br />
        <%= f.text_field :duration, placeholder: "24" %>
      </div>

      <div class="field">
        <%= f.label :定員 %><br />
        <%= f.text_field :capacity, placeholder: "40" %>
      </div>

      <div class="field">
        <%= f.label :コースの入学要件 %><br />
        <%= f.text_area :condition, placeholder: "N4以上" %>
      </div>

      <div class="actions">
        <%= f.submit "新規登録", class: "btn btn-success" %>
      </div>
    <% end %>
  </div>

</div>