<div class="container">

  <h3><%= @course.name %>の詳細情報</h3>

  <table class="table">
    <tr>
      <td>コース名</td>
      <td><%= @course.name %></td>
    </tr>
    <tr>
      <td>日本語学校名</td>
      <td><%= link_to @course.school.name, admin_school_path(@course.school_id) %></td>
    </tr>
    <tr>
      <td>入学時期</td>
      <td><%= @course.admission_month %>月</td>
    </tr>
    <tr>
      <td>在学期間</td>
      <td><%= @course.duration %>ヶ月</td>
    </tr>
    <tr>
      <td>定員</td>
      <td><%= @course.capacity %>名</td>
    </tr>
    <tr>
      <td>コース入学要件</td>
      <td><%= @course.condition %></td>
    </tr>

  </table>

  <%= link_to "編集", edit_admin_course_path, class: "btn btn-success" %>
  <%= link_to "削除", admin_course_path(@course.id), method: :delete, data: { confirm: "コース情報を削除してもよろしいですか？" } , class: "btn btn-danger" %>

</div>