
<div class="container-fluid light-blue-container p-5">
  <div class="row">

  <div class="col-md-11 offset-md-1">
     <h5 class="translatable-text">お気に入り一覧</h5>
  </div>

    <div class="col-md-7 offset-md-1">
      <div class="row">
        <% if @favorites.present? %>

        <% @favorites.each do |favorite| %>
            <div class="col-md-11 offset-md-1 bg-white p-4 mt-3">

              <div class="row">

                <div class="col-md-4 text-center">
                  <% if favorite.school.image_from.present? %>
                    <%= link_to favorite.school.image_from do %>
                      <%= image_tag favorite.school.get_image(260,195), class: "object-fit-cover" %>
                    <% end %>
                    <p class="translatable-text">引用：<%= link_to "リンク", favorite.school.image_from %></p>
                  <% else %>
                    <%= image_tag favorite.school.get_image(260,195), class: "object-fit-cover" %>
                  <% end %>
                </div>

                <div class="col-md-7 offset-md-1">
                  <h5><%= link_to favorite.school.name, school_path(favorite.school.id) %></h5>
                  <p class="text-secondary"><%= favorite.school.name_en %></p>
                  <i class="fa-solid fa-location-dot text-info mr-1"></i><span class="translatable-text"><%= favorite.school.prefecture_i18n %>/<%= favorite.school.station %></span>

                  <% if user_signed_in? %>
                    <% if favorite.school.favorited_by?(current_user) %>
                      <%= link_to school_favorites_path(favorite.school.id), method: :delete do %>
                          <p class="text-dark"><i class="fa-solid fa-heart text-danger mr-1"></i><span class="translatable-text">お気に入り解除</span></p>
                      <% end %>
                    <% else %>
                      <%= link_to school_favorites_path(favorite.school.id), method: :post do %>
                          <p class="text-dark"><i class="fa-regular fa-heart text-danger mr-1"></i><span class="translatable-text">お気に入り登録</span></p>
                      <% end %>
                    <% end %>
                  <% else %>
                    <%= link_to school_favorites_path(school.id), method: :post do %>
                        <p class="text-dark"><i class="fa-regular fa-heart text-danger mr-1"></i><span class="translatable-text">お気に入り登録</span></p>
                    <% end %>
                  <% end %>

                  <% if favorite.school.reviews.present? %>
                    <%= render "public/reviews/average_rate.html.erb", school: favorite.school %>
                    <p class="translatable-text">口コミ：<%= favorite.school.reviews.count %>件</p>
                  <% else %>
                    <p class="translatable-text">口コミはまだありません</p>
                  <% end %>
                </div>
              </div>
            </div>
        <% end %>

        <% else %>
          <div class="mx-auto">
            <h6 class="translatable-text">お気に入りに登録した日本語学校はありません</h6>
          </div>
        <% end %>
      </div>
    </div>

    <div class="col-md-3 offset-md-1 bg-white p-4 mt-4">
      <%= render "public/users/sidebar.html.erb", user: current_user %>
    </div>

  </div>
</div>
