<!DOCTYPE html>
<html>
  <head>
    <title>MinnanoNihongoGakko</title>
    <!--<link rel="apple-touch-icon" href="/favicon.ico">-->
    <!--<link rel="icon" href="/favicon.png">-->
    <%= favicon_link_tag('favicon.ico') %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!--以下、charts.jsの導入-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
    <script src="https://kit.fontawesome.com/e607b86931.js" crossorigin="anonymous"></script>

  </head>

  <body>

    <% if admin_signed_in? %>
      <%= render "admin/shared/header.html.erb" %>
    <% else %>
      <%= render "public/shared/header.html.erb" %>
    <% end %>

    <%= yield %>

    <% if admin_signed_in? %>
    <% else %>
      <%= render "public/shared/footer.html.erb" %>
    <% end %>

  </body>
</html>
